/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --bg-color: #f5f5f5;
  --bg-round-a: #4481eb;
  --bg-round-b: #04befe;
  --panel-color: #fff;
  --title: #444;
  --bg-input: #e0e0e0;
  --input-icon: #8a8a8a;
  --input: #333;
  --input-hover: #222;
  --btn-color: #5995fd;
  --btn-text: #fff;
  --btn-hover: #4d84e2;
  --social-text: #444;
  --social-icon: #4481eb;
  --icon-color: #333;
  --check-text: #333;
  --check-hover: #333;
  --check-link: #4d84e2;
  --pass-color: #444;
  --key-color: #777;
  --pass-hover-color: #4d84e2;
  --keyboard-color: #e0e0e0;
  --key-letter: #333;
}

:root[data-theme="dark"] {
  --bg-color: #222;
  --bg-round-a: #4a4a4a;
  --bg-round-b: #2e2e2e;
  --panel-color: #fff;
  --title: #f2f2f2;
  --bg-input: #444;
  --input-icon: #ccc;
  --input: #ccc;
  --input-hover: #aaa;
  --btn-color: #333;
  --btn-text: #f2f2f2;
  --btn-hover: #444;
  --social-text: #ccc;
  --social-icon: #fff;
  --icon-color: #aaa;
  --check-text: #fff;
  --check-hover: #fff;
  --check-link: #5995fd;
  --pass-color: #fff;
  --pass-hover-color: #5995fd;
  --key-color: #f0f0f0;
  --keyboard-color: #444;
  --key-letter: #fff;
}
