<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content [forceOverscroll]="false">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-tabs>
    <ion-tab-bar slot="bottom" class="justify-content-between">
      <ion-tab-button tab="predators">
        <img src="./assets/icon/home.svg">
        <label>{{'navigation.home' | translate}}</label>
      </ion-tab-button>
      <ion-tab-button>
        <img src="./assets/icon/logo.png" style="width: 55px;">
      </ion-tab-button>
      <ion-tab-button>
        <div class="ion-page" id="main-content">
          <ion-toolbar>
            <ion-menu-button>
            </ion-menu-button>
          </ion-toolbar>
        </div>

      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar class="text-center">
      <img class="logo-header" src="./assets/icon/logo.png">
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="navigation-menu">
      <div routerLink="/home/settings/profile">
        <img src="./assets/icon/user.svg" class="mr-1">
        {{'navigation.profile' | translate}}
      </div>
      <div routerLink="/home/settings/change-password">
        <img src="./assets/icon/password.svg" class="mr-1">
        {{'navigation.changePassword' | translate}}
      </div>
    </div>

    <div class="logout">
      <ion-button class="logout-button" (click)="logout()">{{'login.logout' | translate}}</ion-button>
    </div>
  </ion-content>
</ion-menu>
