// ion-tab-button {
//   background: #fff;
// }

.logo-header {
  width: 75px;
}

ion-header, ion-tab-button, ion-tab-bar,
ion-menu-button {
  background: #01193c !important;
  color: #fff !important;
}

// ion-tab-bar {
//   background: none;
// }

// ion-toolbar {
//   background: none !important;
// }

.logout {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

.logout-button .button-native {
  background: none;
  color: red;
  border: 1px solid red;
  min-width: 150px;
}

.navigation-menu {
  padding-left: 15px;
  margin-top: 10px;
}

.navigation-menu div {
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-menu div img { 
  margin-right: 10px;
}