<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="{{imageSource}}" style="width: 400px;">

    <ion-button (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>
  </div> -->
  <!-- <ion-router-outlet></ion-router-outlet> -->

  <router-outlet></router-outlet>
</ion-content>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <img class="logo-header" src="./assets/icon/logo.png">
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <div class="logout">
      <ion-button class="logout-button" (click)="logout()">Logout</ion-button>
    </div>
  </ion-content>
</ion-menu>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <img src="./assets/icon/home.svg">
        <label>Home</label>
      </ion-tab-button>
      <ion-tab-button tab="photos">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Photo</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="menu">
        <div class="ion-page" id="main-content">
          <ion-toolbar>
            <ion-menu-button>
            </ion-menu-button>
          </ion-toolbar>
        </div>

      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



</ion-toolbar>