<form action="" class="sign-up-form">
  <img src="./assets/icon/logo.png" class="logo">
  <h2 class="title">Register</h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text" name="usuario" autocomplete="username" placeholder="Username" required="yes">
  </div>
  <div class="input-field">
    <i class="fas fa-envelope"></i>
    <input type="email" name="correo" autocomplete="email" placeholder="Email" required="yes">
  </div>
  <div class="input-field">
    <i class="fas fa-lock"></i>
    <input type="password" name="contraseña" autocomplete="current-password" placeholder="Password" id="id_reg"
      required="yes">
    <i class="far fa-eye" id="toggleReg" style="cursor: pointer;"></i>
  </div>
  <a href="#" class="key use-keyboard-input">Virtual keyboard</a>
  <a href="https://priva.reversecode.repl.co/tools/pass.html" class="pass" target="_blank">Generate a strong
    password</a>
  <label class="check">
    <input type="checkbox" checked="checked">
    <span class="checkmark">I accept the <a href="terms.html">terms and services</a></span>
  </label>
  <input type="submit" value="Create account" class="btn solid">
  <p class="social-text">You can register with:</p>
  <div class="social-media">
    <a href="#" class="social-icon" aria-label="Register with Google">
      <i class="fab fa-google"></i>
    </a>
    <a href="#" class="social-icon" aria-label="Register with Discord">
      <i class="fab fa-discord"></i>
    </a>
    <a href="#" class="social-icon" aria-label="Register with Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f" aria-label="Register with Facebook"></i>
    </a>
  </div>
</form>