<div class="gallery row" *ngIf="gallery">
  <div class="photo col-3 mb-3" (click)="openImage(i)" *ngFor="let item of gallery; let i = index">
    <img src="{{item}}" alt="{{item}}" />
    <img src="./assets/icon/remove.svg" class="remove-photo" (click)="removePhoto(i)">
  </div>

  <div class="add-more {{gallery ? '' : 'full-width'}}">
    <div class="wrapper">
      <div class="file-upload">
        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
        <img src="./assets/icon/add-more-photo.svg">
        <p>{{'predatorForm.addMorePicture' | translate}}</p>
      </div>
    </div>
  </div>
</div>
<!-- [canDismiss]="canDismiss" -->
<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.8" [breakpoints]="[0, 0.25, 0.5, 0.8]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button (click)="close()">{{'general.close' | translate}}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <gallery #galleryPreview [items]="images" thumbs="true"></gallery>
    </ion-content>
  </ng-template>
</ion-modal>