<body>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div id="screen">
    <div class="cover">
      <img src="{{cover ? cover : '../../../../assets/images/profile/cover.jpg'}}">
    </div>
    <div id="content">

      <app-predator-profile-user></app-predator-profile-user>

      <div class="menu {{active}}">
        <ul>
          <li (click)="takePicture()">
            <a>
              <img src="./assets/icon/add-photo.svg">
              <span>{{'general.takeAPicture' | translate}}</span>
            </a>
          </li>
          <li (click)="addManually()">
            <a>
              <img src="./assets/icon/add-without-photo.svg">
              <span>{{'general.manually' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div #createNewEntryButton class="menu-btn-container take-picture" (click)="openAction()">
        <button aria-pressed="false" aria-label="Open Menu" class="menu-btn">
          <img src="./assets/icon/add.svg">
        </button>
      </div>
      <app-loader *ngIf="loader"></app-loader>
      <div class="no-data" *ngIf="!loader && (!predators || !predators.length)">
        <img src="./assets/icon/capture-photo.png">
        <h6>{{'general.startTakingPhotos' | translate}}</h6>
      </div>
      <div id="user-publications" *ngIf="!loader && predators">
        <cdk-virtual-scroll-viewport #viewport itemSize="1" class="viewport">
          <div class="image-grid">
            <div *cdkVirtualFor="let item of predators" class="predator-item">
              <img *ngIf="!item.completed && getMorePhotosIcon(item.gallery)" src="./assets/icon/more-photos.svg"
                class="information">
              <img *ngIf="item.completed&&item.visible" src="./assets/icon/report-completed.webp" class="information">
              <img *ngIf="item.completed&&!item.visible" src="./assets/icon/report-waiting.png" class="information">
              <img class="predator-image" [lazyLoadImage]="getImageForPreviewFromGallery(item.gallery)"
                onerror="this.onerror=null;this.src='./assets/icon/no-image.svg'" (click)="showDetails(item.id)" />
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>


  <app-predator-edit *ngIf="imageSource" #editFormComponent [gallery]="imageSource"
    (refreshEmit)="refresh()"></app-predator-edit>

</body>