<body>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div id="screen">
    <div id="cover"></div>
    <div id="content">

      <app-predator-profile-user></app-predator-profile-user>

      <div class="menu {{active}}">
        <ul>
          <li>
            <a (click)="takePicture()">
              <img src="./assets/icon/add-photo.svg">
              <span>{{'general.takeAPicture' | translate}}</span>
            </a>
          </li>
          <li>
            <a (click)="addManually()">
              <img src="./assets/icon/add-without-photo.svg">
              <span>{{'general.manually' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div #createNewEntryButton class="menu-btn-container take-picture" (click)="openAction()">
        <button aria-pressed="false" aria-label="Open Menu" class="menu-btn">
          <img src="./assets/icon/add.svg">
        </button>
      </div>
      <app-loader *ngIf="loader"></app-loader>
      <div class="no-data" *ngIf="!loader && (!predators || !predators.length)">
        <img src="./assets/icon/capture-photo.png">
        <h6>{{'general.startTakingPhotos' | translate}}</h6>
      </div>
      <div *ngIf="!loader&&predators.length" id="user-publications">
        <div *ngFor="let item of predators">
          <img *ngIf="getMorePhotosIcon(item.gallery)" src="./assets/icon/more-photos.svg" class="more-photos">
          <img class="predator-image" src="{{getImageForPreviewFromGallery(item.gallery)}}"
            (click)="showDetails(item.id)">
        </div>
        <!-- <img *ngIf="imageSource" src="{{getBlobImage(imageSource)}}"> -->
        <!-- <ion-img *ngIf="imageSource" [src]="imageSource"></ion-img> -->
      </div>
    </div>
  </div>


  <app-predator-edit *ngIf="imageSource" #editFormComponent [gallery]="imageSource"
    (refreshEmit)="refresh()"></app-predator-edit>

</body>