<div>
</div>

<body>
  <div id="screen">
    <div id="cover"></div>
    <div id="content">
      <img id="user-avatar" width="120" height="120" src="./assets/images/profile/profile.png" alt="Avatar">
      <p id="user-name">Aleksandar Kojić</p>
      <p id="user-location">Kragujevac, Serbia</p>
      <p id="user-description">I like to fishing and make good photo!</p>
      <!-- <div id="user-general-values">
        <p>
          <span>231</span>
          <span>Posts</span>
        </p>
        <div class="line"></div>
        <p>
          <span>531</span>
          <span>Followers</span>
        </p>
        <div class="line"></div>
        <p>
          <span>123</span>
          <span>Following</span>
        </p>
      </div> -->
      <!-- <ion-button class="take-picture" (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button> -->
      <div class="menu {{active}}">
        <ul>
          <li>
            <a (click)="takePicture()">
              <img src="./assets/icon/add-photo.svg">
              <span>{{'general.takeAPicture' | translate}}</span>
            </a>
          </li>
          <li>
            <a (click)="addManually()">
              <img src="./assets/icon/add-without-photo.svg">
              <span>{{'general.manually' | translate}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div #createNewEntryButton class="menu-btn-container take-picture" (click)="openAction()">
        <button aria-pressed="false" aria-label="Open Menu" class="menu-btn">
          <img src="./assets/icon/add.svg">
        </button>
      </div>
      <app-loader *ngIf="loader"></app-loader>
      <div class="no-data" *ngIf="!loader && (!predators || !predators.length)">
        <img src="./assets/icon/capture-photo.png">
        <h6 class="pt-2">{{'general.startTakingPhotos' | translate}}</h6>
      </div>
      <div *ngIf="!loader&&predators.length" id="user-publications">
        <div *ngFor="let item of predators">
          <img *ngIf="getMorePhotosIcon(item.gallery)" src="./assets/icon/more-photos.svg" class="more-photos">
          <img src="{{getImageForPreviewFromGallery(item.gallery)}}" (click)="showDetails(item.id)">
        </div>
        <img *ngIf="imageSource" src="{{imageSource}}">
        <!-- <img *ngIf="imageSource" src="{{imageSource}}"> !-->
      </div>
    </div>
  </div>


  <app-predator-edit *ngIf="imageSource" #editFormComponent [gallery]="imageSource"></app-predator-edit>

</body>