@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap");

@media (pointer: fine), (pointer: none) {
  #screen {
    max-width: 900px;
  }
}

* {
  font-family: "Roboto Flex", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}

.line {
  width: 1px;
  height: 60%;
  margin: 0 20px;
  background-color: #bcbcbc;
}

#screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

header {
  position: absolute;
  width: 340px;
  height: 35px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
}

header #time {
  width: 20%;
  font-size: 13px;
  font-weight: bold;
  margin-left: 0;
  margin-right: auto;
}

header #controls {
  width: 60%;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header #controls p {
  position: absolute;
  width: 94px;
  height: 24px;
  background: black;
  border-radius: 25px;
}

header #icons {
  width: 20%;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

header #icons svg {
  margin: 0;
  padding: 0;
}

header #icons svg:nth-child(1),
header #icons svg:nth-child(2) {
  margin-right: 5px;
}

#screen #cover {
  width: 100%;
  height: 25%;
  background-image: url("../../../../assets/images/profile/cover.jpg");
  background-blend-mode: multiply;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#screen #content {
  position: relative;
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

#screen #content #user-avatar {
  object-fit: cover;
  position: absolute;
  left: calc(50% - 60px);
  top: -60px;
  border: 5px solid white;
  border-radius: 90%;
  background: #fff;
  border: 4px solid #072550;
}

#screen #content #user-name {
  font-size: 24px;
  font-weight: bold;
  margin: 55px 0 0 0;
  padding: 0;
}

#screen #content #user-location {
  font-size: 16px;
  color: #b4b4b0;
  margin: 5px 0 0 0;
  padding: 0;
}

#screen #content #user-description {
  font-size: 16px;
  color: #6c7171;
  padding: 0;
}

#screen #content #user-general-values {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 0 0;
}

#screen #content #user-general-values p {
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#screen #content #user-general-values p span:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#screen #content #user-general-values p span:nth-child(2) {
  font-size: 14px;
  margin: 3px 0 0 0;
  color: #6c7171;
}

#screen #content #follow-btn {
  color: white;
  height: 35px;
  width: 110px;
  margin: 20px 0 0 0;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff7511;
  cursor: pointer;
}

#screen #content #follow-btn:hover {
  background: #f56700;
}

#user-publications {
  border-top: 1px solid lightgray;
  box-shadow: 0 -6px 8px -6px lightgray;
  border-bottom: none;
  overflow-y: scroll !important;
  height: calc(100% - 155px);
}

#screen #content #user-publications {
  position: relative;
  width: 100%;
  margin: 20px 0 0 0;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

#screen #content #user-publications img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.take-picture {
  position: absolute;
  bottom: 60px;
  z-index: 99999999999;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  font-size: 16px;
  padding: 0px;
}

// .take-picture {
//   --border-radius: 50px;
//   border: 1px solid #fff;
// }

ul,
li {
  list-style-type: none;
}
ul {
  font-size: 0.875em;
  margin: 0px;
  padding: 0;
}
li {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(175, 175, 175, 0.25);
}
li:last-child {
  border: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

a span {
  margin-left: 5px;
  color: #fff;
}

h3 {
  font-size: 20px;
}
.container {
  text-align: center;
}
.menu-btn {
  border: none;
  background: linear-gradient(120deg, #01193c 25%, #0e3369 75%, #3e70b9 100%);
  border-radius: 25px;
  // transform: rotate(-45deg) translateZ(0);
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 2px 20px rgba(244, 31, 95, 0.25);
}

.menu-btn img {
  width: 36px;
}

.menu-btn:focus {
  outline: none;
}
// .menu-btn:before,
// .menu-btn:after {
//   content: "";
//   position: absolute;
//   top: calc(50% - 1px);
//   left: calc(50% - 17px);
//   width: 34px;
//   height: 2px;
//   background: white;
//   transition: 0.3s ease all;
//   transform: rotate(-45deg) translateZ(0);
// }
.menu-btn:after {
  transform: rotate(45deg) translateZ(0);
}
.menu-btn.open:before {
  transform: rotate(0deg);
}
.menu-btn.open:after {
  transform: rotate(90deg);
}
.menu {
  position: absolute;
  bottom: 110px;
  z-index: 10000;
  // min-height: 250px;
  min-width: 60%;
  margin: 15px auto;
  border-radius: 24px;
  text-align: left;
  padding: 15px 20px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: 0.35s ease all;
  overflow: hidden;
}
.menu > h3 {
  opacity: 0;
}
.menu > ul > li {
  opacity: 0;
}
.menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #28334b;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0.5);
}
.menu.active:before {
  animation: 0.2s menuIn 0.15s normal forwards;
  animation-timing-function: ease-in;
}
.active {
  transform: scale(1);
}
.menu.active > h3 {
  transition: 0.2s ease-in 0.2s;
  opacity: 1;
}
.menu.active > ul > li {
  transition: 0.2s ease-in 0.2s;
  opacity: 1;
}
@keyframes menuIn {
  0% {
    transform: scale(0.5);
    border-radius: 50%;
  }
  45% {
    transform: scale(1.25);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 24px 24px 24px 4px;
  }
}
@keyframes menuOut {
  from {
    transform: scale(1);
    border-radius: 24px 24px 24px 4px;
  }
  to {
    transform: scale(0.5);
    border-radius: 50%;
  }
}
svg {
  width: 26px;
  height: 26px;
  fill: white;
  margin-right: 10px;
}

.menu-btn-pulse {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(248, 41, 171, 0.28);
  filter: blur(3px);
}
.menu-btn-particle {
  width: 6px;
  height: 6px;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
}

#screen #content #user-publications .more-photos {
  position: absolute;
  width: 24px !important;
  height: 24px !important;
  text-align: end;
  float: right;
  overflow: hidden;
  margin: 5px;
}

.no-data {
  text-align: center;
  margin-top: 10vh;
}

.no-data img {
  width: 105px;
}

.predator-image {
  cursor: pointer;
}
