<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">{{'general.back' | translate}}</ion-button>
    </ion-buttons>
    <ion-title><img class="title-logo" src="./assets/icon/logo.png"></ion-title>
    <ion-buttons slot="end" *ngIf="!loader">
      <ion-button (click)="predatorEdit()" [disabled]="data.completed">{{'general.edit' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="loader">
    <app-loader></app-loader>
  </div>
  <div class="status-report" *ngIf="!loader">
    <div class="draft-status" *ngIf="!data.completed">
      <p class="mb-0">{{'actionMessage.reportCompletedNotYet' | translate}}</p>
      <ion-button fill="outline" color="success" (click)="alertQuestion.showQuestionAlert()"><span
          class="fa fa-paper-plane"></span> &nbsp;
        {{'action.completedReport' | translate}}</ion-button>
    </div>

    <div class="completed-status pt-3 pb-3" *ngIf="data.completed">
      <span>{{'actionMessage.reportCompleted' | translate}} {{data.completed_date | date: 'dd.MM.yyyy hh:mm'}}</span>
    </div>
    <div class="report-not-approved pt-3 pb-3" *ngIf="data.completed&&!data.visible">
      <span>{{'actionMessage.reportNotYetApproved' | translate}}</span>
    </div>

  </div>
  <div class="gallery-container">
    <div *ngIf="!images || !images.length" class="no-image">
      <img src="./assets/icon/no-image.svg">
    </div>
    <gallery *ngIf="images && images.length" [items]="images"></gallery>
  </div>
  <div class="information" *ngIf="!loader&&data">
    <div>
      <ion-text>
        {{'predatorForm.predators' | translate}}
      </ion-text>
      <p><b>{{data.name_of_predator}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.totalNumber' | translate}}
      </ion-text>
      <p><b>{{data.total_number}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.includingYoungAnimals' | translate}}
      </ion-text>
      <p><b>{{data.including_young_animals}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.includingFemaleAnimals' | translate}}
      </ion-text>
      <p><b>{{data.including_female_animals}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.includingMaleAnimals' | translate}}
      </ion-text>
      <p><b>{{data.including_male_animals}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.typeOfWater' | translate}}
      </ion-text>
      <p><b>{{data.name_of_type_of_water}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.distanceToWater' | translate}}
      </ion-text>
      <p><b>{{data.distance_to_water}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.territory' | translate}}
      </ion-text>
      <p><b>{{data.name_of_territory}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.activity' | translate}}
      </ion-text>
      <p><b>{{data.name_of_activity}}</b></p>
    </div>
    <div class="d-block mb-2">
      <ion-text>
        {{'predatorForm.comment' | translate}}
      </ion-text>
      <p class="pl-2"><b class="text-break">{{data.comment}}</b></p>
    </div>
    <div>
      <ion-text>
        {{'predatorForm.creationDate' | translate}}
      </ion-text>
      <p class="pl-2"><b class="text-break">{{data.creation_date | date: 'dd.MM.yyyy HH:mm'}}</b></p>
    </div>
  </div>

  <app-no-data *ngIf="!loader&&!data"></app-no-data>

  <app-map *ngIf="data && data.longitude && data.latitude" [longitude]="data.longitude" [latitude]="data.latitude"
    [manual]="false"></app-map>
</ion-content>

<app-question-alert #alertQuestion (action)="completedReport($event)"></app-question-alert>