<form action="" class="sign-in-form">

  <img src="./assets/icon/logo.png" class="logo">

  <h2 class="title">Login</h2>
  <div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text" name="usuario" autocomplete="username" placeholder="Username" required="yes">
  </div>
  <div class="input-field">
    <i class="fas fa-lock"></i>
    <input type="password" name="contraseña" autocomplete="current-password" placeholder="Password" id="id_password"
      required="yes">
    <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
  </div>
  <a href="#" class="key use-keyboard-input">Virtual keyboard</a>
  <a class="pass" href="#">Forgot your password?</a>
  <input type="submit" value="Sign in" class="btn solid">
  <p class="social-text">You can login with:</p>
  <div class="social-media">
    <a href="#" class="social-icon" aria-label="Register with Google">
      <i class="fab fa-google"></i>
    </a>
    <a href="#" class="social-icon" aria-label="Register with Discord">
      <i class="fab fa-discord"></i>
    </a>
    <a href="#" class="social-icon" aria-label="Register with Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f" aria-label="Register with Facebook"></i>
    </a>
  </div>
</form>