<div class="text-center">
  <img id="user-avatar" width="120" height="120" src="./assets/images/profile/avatar.png" alt="Avatar">
  <p id="user-name">{{user.name}}</p>
  <!-- <p id="user-location" class="m-0">Kragujevac, Serbia</p>
  <p id="user-description">I like to fishing and make good photo!</p> -->
</div>
<!-- <div id="user-general-values">
        <p>
          <span>231</span>
          <span>Posts</span>
        </p>
        <div class="line"></div>
        <p>
          <span>531</span>
          <span>Followers</span>
        </p>
        <div class="line"></div>
        <p>
          <span>123</span>
          <span>Following</span>
        </p>
      </div> -->
<!-- <ion-button class="take-picture" (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button> -->