@import url("../auth.scss");

.field-icon {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media img {
  max-width: 38px;
  border-radius: 50%;
}

.required-field {
  font-size: 11px !important;
}

.invalid-error {
  border: 1px solid red;
}

@media (max-width: 870px) {
  .signin-signup {
    top: 75% !important;
  }
}

.btn.transparent {
  padding-top: 7px;
}
