<body>

  <div class="container">

    <div class="forms-container">
      <div class="signin-signup forgot-password">
        <form class="sign-in-form" [formGroup]="form" (ngSubmit)="forgotPassword()">

          <img src="./assets/icon/logo.png" class="logo">

          <h2 class="title text-center">{{'login.forgotPassword' | translate}}</h2>
          <div
            class="input-field {{(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched) && submited) ? 'invalid-error' : ''}}">
            <div class="field-icon">
              <img src="./assets/icon/user.svg">
            </div>
            <input type="text" name="email" formControlName="email" placeholder="{{'login.email' | translate}}">
          </div>

          <button type="submit" class="btn solid">{{'login.login' | translate}}</button>

          <div>
            <ion-label class="required-field" *ngIf="form.invalid && submited"
              color="danger">{{'login.pleaseFillEmailAddress' | translate}}</ion-label>

            <ion-label *ngIf="responseMessage.message"
              color="{{responseMessage.value ? 'success' : 'danger'}}">{{responseMessage.message}}</ion-label>
          </div>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>{{'login.alreadyHaveAccount' | translate}}</h3>
          <p>{{'login.alreadyHaveAccountText' | translate}}</p>
          <a class="btn transparent" id="sign-up-btn" routerLink="/auth/login">{{'login.login' |
            translate}}</a>
        </div>
      </div>
    </div>
  </div>