
<ion-header [translucent]="true" mode="md" collapse="fade">
  <ion-toolbar>
    <ion-title>{{'changePassword.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <app-ion-input [label]="'changePassword.currentPassword'" [type]="'password'"
          [value]="data.password" (changeEmit)="data.password = $event"></app-ion-input>
      
      <app-ion-input [label]="'changePassword.newPassword'"
    [value]="data.new_password" (changeEmit)="data.new_password = $event"></app-ion-input>
      <app-ion-input [label]="'changePassword.reNewPassword'"
    [value]="data.re_new_password" (changeEmit)="data.re_new_password = $event"></app-ion-input>
    <div class="text-end mt-3">
    <ion-button 
        (click)="submit()">{{'general.save' |
        translate}}</ion-button>
        </div>
</ion-content>