@import url("../auth.scss");

// .field-icon {
//   height: 55px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .social-media img {
//   max-width: 38px;
//   border-radius: 50%;
// }

// .required-field {
//   font-size: 11px !important;
// }

// .invalid-error {
//   border: 1px solid red;
// }

// .areas {
//   width: 100%;
//   text-align: center;
//   border-radius: 50px;
//   background: #f5f5f5;
//   padding: 15px;
// }

// .areas p {
//   font-size: 20px;
//   padding: 8px 35px;
//   cursor: pointer;
//   font-weight: bold;
// }

// .areas p:hover,
// .areas p.active {
//   border-radius: 50px;
//   background: #01193c;
//   color: #fff;
// }

// .go-to-next {
//   display: list-item;
//   margin: auto;
//   margin-top: 15px;
// }

.mobile-app a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px lightgray;
  margin-top: 50px;
  text-decoration: blink;
  color: #000;
}

.mobile-app a img {
  width: 22px;
  margin-right: 8px;
}

.show-hide-password {
  position: absolute;
  right: 0px;
  top: 9px;
}

.show-hide-password span {
  background: none;
  border: none;
}
