<app-loader *ngIf="loader"></app-loader>

<body>

  <div class="container {{mode}}" *ngIf="!loader">

    <div class="forms-container">
      <div class="signin-signup">
        <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="login()">

          <img src="./assets/icon/logo.png" class="logo">

          <h2 class="title">{{'login.loginTitle' | translate}}</h2>
          <div
            class="input-field {{(loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && submited) ? 'invalid-error' : ''}}">
            <div class="field-icon">
              <img src="./assets/icon/user.svg">
            </div>
            <input type="text" name="email" formControlName="email" placeholder="{{'login.email' | translate}}">
          </div>


          <div
            class="input-field {{(loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && submited) ? 'invalid-error' : ''}}">
            <div class="field-icon">
              <img src="./assets/icon/password.svg">
            </div>
            <input type="{{passwordField}}" name="password" formControlName="password" autocomplete="current-password"
              placeholder="{{'login.password' | translate}}" id="id_password" required="yes">
            <div class="field-icon">
              <img src="./assets/icon/{{passwordFieldIcon}}.svg" (click)="showHidePassword()">
            </div>
          </div>

          <div>
            <ion-label class="required-field" *ngIf="loginForm.invalid && submited" color="danger">Danger</ion-label>

            <div class="alert-body" *ngIf="error">
              <ion-label *ngIf="error === 'exist'" color="danger">{{'login.accountNotExist' | translate}}</ion-label>
              <ion-label *ngIf="error === 'verified'" color="danger">{{'login.accountNotVerified' |
                translate}}</ion-label>
            </div>
          </div>

          <a class="pass" routerLink="/auth/forgot-password">{{'login.forgotPassword' | translate}}</a>
          <button type="submit" class="btn solid">{{'login.login' | translate}}</button>


          <!-- <div class="divider my-2">
            <div class="divider-text">oder</div>
          </div> -->

          <p class="social-text">{{'login.additionallPossibilityForLogin' | translate}}</p>
          <div class="social-media">
            <a href="#" class="social-icon" aria-label="Register with Google">
              <img src="./assets/icon/facebook.svg">
            </a>
            <a href="#" class="social-icon" aria-label="Register with Twitter">
              <img src="./assets/icon/google.svg">
            </a>
            <a href="#" class="social-icon">

              <img src="./assets/icon/microsoft.svg">
            </a>
          </div>
        </form>
        <form class="sign-up-form" [formGroup]="signUpForm" (ngSubmit)="signUp()">
          <img src="./assets/icon/logo.png" class="logo">
          <h2 class="title">{{'login.signUpTitle' | translate}}</h2>
          <div class="input-field">
            <div class="field-icon">
              <img src="./assets/icon/user.svg">
            </div>
            <input type="text" name="name" placeholder="{{'login.name' | translate}}" formControlName="name">
          </div>
          <div class="input-field">
            <div class="field-icon">
              <img src="./assets/icon/phone.svg">
            </div>
            <input type="text" name="phone" placeholder="{{'login.phone' | translate}}" formControlName="phone">
          </div>
          <div class="input-field">
            <div class="field-icon">
              <img src="./assets/icon/email.svg">
            </div>
            <input type="email" name="email" placeholder="{{'login.email' | translate}}" formControlName="email">
          </div>
          <div class="input-field">
            <div class="field-icon">
              <img src="./assets/icon/password.svg">
            </div>
            <input type="{{passwordField}}" name="password" placeholder="{{'login.password' | translate}}"
              formControlName="password">
            <div class="field-icon">
              <img src="./assets/icon/{{passwordFieldIcon}}.svg" (click)="showHidePassword()">
            </div>
          </div>
          <div class="input-field">
            <div class="field-icon">
              <img src="./assets/icon/password.svg">
            </div>
            <input type="{{passwordField}}" name="re-password" placeholder="{{'login.rePassword' | translate}}"
              formControlName="rePassword">
            <div class="field-icon">
              <img src="./assets/icon/{{passwordFieldIcon}}.svg" (click)="showHidePassword()">
            </div>
          </div>

          <div class="alert-body" *ngIf="error">
            <ion-label *ngIf="error === 'exist-account'" color="danger">{{'login.accountExists' |
              translate}}</ion-label>
            <ion-label *ngIf="error === 'created-account'" color="success">{{'login.successfullyCreatedAccount' |
              translate}}</ion-label>
            <ion-label *ngIf="signUpForm.value.password != signUpForm.value.rePassword"
              color="danger">{{'login.bothPasswordNeedToBeSame' |
              translate}}</ion-label>
          </div>
          <ion-label *ngIf="!isAcceptTermsAndPrivacy" color="danger">{{'login.pleaseAcceptTermsAndPrivacyPolicy' |
            translate}}</ion-label>
          <ion-label *ngIf="submited && !this.signUpForm.valid" color="danger">{{'login.pleaseFillFields' |
            translate}}</ion-label>

          <label class="check">
            <input type="checkbox" [(ngModel)]="isAcceptTermsAndPrivacy" [ngModelOptions]="{standalone: true}"
              name="terms-and-privacy" [checked]="isAcceptTermsAndPrivacy">
            <span class="checkmark"> {{'login.iAccept' | translate}} <a href="terms.html">{{'login.termsAndServices' |
                translate}}</a></span>
          </label>
          <button type="submit" class="btn solid" [disabled]="!isAcceptTermsAndPrivacy ? true : false">{{'login.signUp'
            | translate}}</button>
          <p class="social-text">{{'login.additionallPossibilityForLogin' | translate}}</p>
          <div class="social-media">
            <a href="#" class="social-icon" aria-label="Register with Google">
              <img src="./assets/icon/facebook.svg">
            </a>
            <a href="#" class="social-icon" aria-label="Register with Twitter">
              <img src="./assets/icon/google.svg">
            </a>
            <a href="#" class="social-icon">

              <img src="./assets/icon/microsoft.svg">
            </a>
          </div>


        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>{{'login.noHaveAccountYet' | translate}}</h3>
          <p>{{'login.noHaveAccountText' | translate}}</p>
          <button class="btn transparent" id="sign-up-btn" (click)="changeMode()">{{'login.signUp' |
            translate}}</button>
        </div>
      </div>

      <div class="panel right-panel">
        <div class="content">
          <h3>{{'login.alreadyHaveAccount' | translate}}</h3>
          <p>{{'login.alreadyHaveAccountText' | translate}}</p>
          <button class="btn transparent" id="sign-in-btn" (click)="changeMode()">{{'login.login' | translate}}</button>
        </div>
      </div>
    </div>
  </div>