<ion-header [translucent]="true" mode="md" collapse="fade">
  <ion-toolbar>
    <ion-title>{{'profile.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cover-container">
    <div class="cover" *ngIf="coverImageCropped; else placeholderCover"
      [ngStyle]="{backgroundImage: 'url(' + coverImageCropped + ')'}">
    </div>

    <ng-template #placeholderCover>
      <img class="cover" src="../../../../../assets/images/profile/cover.jpg">
    </ng-template>
    <label for="cover-input-file">
      <div class="icon-wrapper">
        <input type="file" id="cover-input-file" accept="image/*" (change)="onFileChangeCover($event)" />
        <img src="../../../../../assets/icon/add-photo.svg">
      </div>
    </label>
  </div>

  <div id="content">
    <div class="text-center">
      <div class="avatar-container m-auto">
        <div id="user-avatar" width="120" height="120" *ngIf="profileImageCropped; else placeholderProfile"
          [ngStyle]="{backgroundImage: 'url(' + profileImageCropped + ')'}">
        </div>
        <ng-template #placeholderProfile>
          <img id="user-avatar" width="120" height="120" src="./assets/images/profile/avatar.png" alt="Avatar">
        </ng-template>
        <label for="avatar-input-file">
          <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChangeProfile($event)" />
            <img src="../../../../../assets/icon/add-photo.svg">
          </div>
        </label>
      </div>
    </div>
    <br><br>
    <div class="m-3 mt-5" *ngIf="data">
      <!-- <app-dynamic-forms *ngIf="data" [path]="path" [file]="file" [data]="data"></app-dynamic-forms> -->

      <app-ion-input [label]="'profile.firstname'"
          [value]="data.firstname" (changeEmit)="data.firstname = $event"></app-ion-input>
      <app-ion-input [label]="'profile.lastname'"
    [value]="data.lastname" (changeEmit)="data.firstname = $event"></app-ion-input>
      <app-ion-input [label]="'profile.phone'"
    [value]="data.phone" (changeEmit)="data.phone = $event"></app-ion-input>
      <app-ion-input [label]="'profile.email'"
    [value]="data.email" (changeEmit)="data.email = $event"></app-ion-input>
    <div class="text-end mt-3">
    <ion-button 
        (click)="submit()">{{'general.save' |
        translate}}</ion-button>
        </div>
    </div>
  </div>
</ion-content>